body{
	margin: 0px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('background.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 100vw;
	min-height: 100vh;
	background-attachment: fixed;
	color: white;
	font-family: helvetica;
}

header{
	height: 100vh;
	width: 100vw;
/*	border: 2px solid white;*/
}

nav>ul{
	display: flex;
	flex: 1;
	list-style: none;
	justify-content: flex-end;
	margin-top: 0px;
	padding: 12px;

}

nav>ul>a{
	color: #fff;
	position: relative;
	transition: color 0.3s ease;
	text-decoration: none;
	margin-right: 80px;
	margin-top: 30px;
}

li{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 19px;
	/*border: 2px solid grey;
	padding: 5px;
	border-radius: 10px;*/
}

nav>ul>a:hover{
	color: navajowhite;

}

nav>ul>a::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

nav>ul>a:hover::before{
	visibility: visible;
	transform: scaleX(1);
}

.big-text{
	font-weight: lighter;
	margin-bottom: 10px;
	word-spacing: 10px;
	font-family: algerian;
	letter-spacing: 2px;
	font-size: 65px;
}

#main-section{
	width: 80%;
/*	border: 2px solid white;*/
    position: absolute;
	top: 35%;
	left: 5%;
}

.justify-text{
	font-size: 20px;
	font-family: sans-serif;
	word-spacing: 3px;
	text-align: justify;
	line-height: 27px;
}

.learn-more{
	font-size: 18px;
	font-family: helvetica;
	text-decoration: none;
	color: white;
	border: 2px solid white;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

#class-link-white{
	background-color: white;
	color: black;
}

#class-link-white:hover{
	color: white;
	background-color: inherit;
	transition: 0.5s;
}

#learn-more:hover{
	background-color: white;
	color: black;
	transition: 0.5s;
}



/*   ABOUT STYLESHEET */

marquee{
	font-size: 20px;
	color: darkgrey;
}

#header-text{
	margin-top: 60px;
	margin-bottom: 50px;
	font-size: 45px;
	font-family: times new roman;
}

#floated-texts-container{
	width: 93%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

#floated-right{
	width: 46%;
	float: right;
	border: 3px solid black;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0 0 10px;
}

#floated-left{
	width: 46%;
	border: 3px solid black;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0 0 10px;
}

#back_to_top{
	display: inline-block;
	margin-left: 3%;
	margin-top: 20px;
}

.back-btn{
	border: 2px solid white;
	text-decoration: none;
	color: white;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 18px;
}

.back-btn:hover{
	color: black;
	background-color: white;
	transition: 0.5s;
}


footer{
	color: white;
	background-color: black;
	padding: 10px;
	margin-top: 40px;
	font-size: 20px;
	word-spacing: 2px;
	line-height: 30px;
}


/*  CONTACT STYLESHEET */


#contact-form{
	margin-top: 50px;
	width: 70%;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: inset 0 0 10px;
	padding: 10px;
	line-height: 32px;
}


.input-box{
	width: 300px;
	height: 30px;
	font-size: 18px;
	padding: 5px;
	padding-left: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
}

textarea{
	font-size: 16px;
	padding: 5px;
	width: 70%;
	height: 150px;
}

.submit-button{
	font-size: 16px;
	width: 100px;
	padding: 5px;
	background-color: lightgray;
}

.submit-button:hover{
	transform: scale(1.1);
	transition: 0.5s;
}

.go-back{
	padding: 5px;
	color: darkblue;
	font-size: 20px;

}

.go-back:hover{
	text-decoration: underline;
	color: whitesmoke;
	transition: 0.4s;
}



.container{
	position: relative;
	overflow: hidden;
}

.text-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;

}

.text{
	font-size: 3em;
	position: relative;
	animation: slideText 5s linear infinite;
}

@keyframes slideText{
	0%{
		transform: translateX(100%);
	}

	100%{
		transform: translateY(-100%);
	}
}



